body{
  background:#D8D9D9EB;
  margin: 0;
  padding:0;
}
#container{
  background:inherit;
  border-radius: 20px;
  box-shadow: 1px 1px 20px pink;
  margin:30px;
  max-height:100%;
  position:absolute;
  text-align:center;
  width:300px;
}

h1{
  color:#1F245B;
}
#button {
  display:inline-block;
  background-image:linear-gradient(to left, pink,azure);
  border:none;
  border-radius:30px;
  font-weight:600;
  margin: 20px 25px;
  outline:none;
  width:80px;
}
  
#button:hover{
  box-shadow: 1px 1px 5px red;
}
h4 {
  font-size: 15px;
  font-weight: 200px;
  text-align: center;
  color:#131F67EB;
}
.inputed{
  border: none;
  display: block;
  outline:none;
  margin: 0 auto;
  background-color: #AFB1C412;
  text-align: center;
  border-bottom:solid 1px #384090;
  width:100px;
}
.inputed:focus{
  width:150px;
  transition:0.5s;
}
#info{
  padding: 12px;
  color:brown;
}
